@{
    ViewBag.Title = "Phạm Thế Quyền";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài tập số 9 của quyền-hứa không bịp</h3>

<address>
  K22CNT2-Môn lập trình web ứng dụng công nghệ ASp.Net MVC
</address>

<address>
    <strong>hỗ Trợ:</strong>   <a href="mailto:thequyen700@gmail.com">thequyen700@gmail.com</a><br />
    <strong>Liên hệ:</strong> <a href="mailto:phamthequyen1411@gmail.com">phamthequyen1411@gmail.com</a>
</address>