@model List<Song>

@foreach (var song in Model)
{
    <div>
        <h2>@song.Name</h2>
        <p>@song.Description</p>
        <a href="@Url.Action("Download", "Song", new { url = song.Url })">Tải về</a>
        <a href="@Url.Action("Details", "Song", new { name = song.Name })">Chi tiết</a>
    </div>
}
