@{
    ViewBag.Title = "Phạm Thê Quyền";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài tập ôn tập số 11 của Quyền</h3>

<address>
    Lesson11-ôn tập
</address>

<address>
    <strong>Hỗ Trợ:</strong>   <a href="mailto:thequyen700@gmail.com">thequyen700@gmail.com</a><br />
    <strong>cá nhân:</strong> <a href="mailto:phamthequyen1411@gmail.com">phamthequyen1411@gmail.com</a>
</address>