@{
    ViewBag.Title = "Phạm Thế Quyền";
}
<h2>@ViewBag.Title.</h2>
<h3>Đây là bài tập số 10 của Quyền-Hứa không bịp</h3>

<address>
    Lesson10-Sử dụng entity framework - database first
</address>

<address>
    <strong>chăm sóc khách hàng:</strong>   <a href="mailto:thequyen700@gmail.com">thequyen700@gmail.com</a><br />
    <strong>Phản Hồi:</strong> <a href="mailto:phamthequyen1411@gmailcom">Marketing@example.com</a>
</address>