
@{
    ViewBag.Title = "Phạm Thế Quyền-Index";
}

<h2>Phạm Thế Quyền-Index</h2>
<hr/>
<h3>hiển thị dữ liệu action trong controller</h3>
<h4>Fullname:@ViewBag.fullname </h4>
<h4>Ngày sinh:@ViewData["Birthday"]</h4>
<h4>Thông tin liên lạc:@TempData["Số điện thoại"]</h4>

