
@{
    ViewBag.Title = "PtqCustomerdetail";
}

<h2>Thông tin khách hàng</h2>
<div class="alert alert-danger">    
    <h3>Mã số: @ViewBag.customer.customerId</h3>
    <p>Họ và tên: @ViewBag.customer.firstName  @ViewBag.customer.LastName</p>
    <p>Tên Lớp:@ViewBag.customer.Address</p>
    <p>Sinh năm:@ViewBag.customer.YearOfBirth </p>
</div>

